<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ page_title }}</title>
  <link href="/static/css/styles.css" rel="stylesheet" />

    <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
</head>

    <!-- Navigation -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Users Hub</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/user/new">New user</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('random_user') }}">Random user</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<body class="bg-dark">
<!-- Page Content -->

{% block content %}{% endblock %}

        <!-- Footer -->

          <footer class="py-5 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; Users Hub 2021</p>
            </div>
          </footer>

    </body>

</html>