{% extends "base.html" %}
{% block content %}
<p>{% include 'message.html' %}</p>
<div class="container">
    <div class="card mb-4">
        <div class="text-center">
            <form class="bg-light", action="", method="POST">
    {{ form.hidden_tag() }}
    <p><br>
    {{ form.first_name.label }}<br>
    {{ form.first_name() }}
    </p>
    <p>{{ form.last_name.label }}<br>
    {{ form.last_name() }}
    </p>
    <p>
        {{ form.gender.label }}<br>
        {{ form.gender() }}
    </p>
    <p>
        {{ form.phone.label }}<br>
        {{ form.phone() }}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email() }}
    </p>
    <p>
        {{ form.country.label }}<br>
        {{ form.country() }}
    </p>
    <p>
        {{ form.city.label }}<br>
        {{ form.city() }}
    </p>
    <p>
        {{ form.street.label }}<br>
        {{ form.street() }}
    </p>
    <p>
        {{ form.picture.label }}<br>
        {{ form.picture(value="https://randomuser.me/api/portraits/women/21.jpg") }}
    </p>
<p>{{ form.submit() }}</p>
<hr>
</form>

</div>
</div>
</div>

{% endblock %}